* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    width: 1600px;
    margin: auto;
}

.brand_wrapper {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.brands {
    width: 11%;
    box-shadow: 3px 3px 10px 0px #303030a8;
    transition: 0.3s ease;
}

.brands:hover {
    scale: 1.1;
}


@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        margin: auto;
    }
    .brands {
        width: 16%;
    }
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
    .brands {
        width: 25%;
    }
}